html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LEAVE EVERYTHING ABOVE THIS LINE ALONE, this resets browser defaults */

body {
    background-color: white;
    /* Makes body 10px by default, therefore 1em is 10px */
    font-size: 62.5%;
    text-align: center;
}

header {
    border-bottom: 1px solid #D3D3D3;
}

h2 {
    padding: 1.3em 0 0.25em 0;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: 3.0em;
}

li {
    display: block;
    padding: 0.5em;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:pink;
}

.social {
    padding: 0 0 1.6em 0;
}

.body-wrapper {
    padding: 5.0em;
    border-bottom: 1px solid #D3D3D3;
}

/* after is like adding a fake html element */
.intro:after {
    content:". . .";
    display: block;
    margin: 1.4em 0 0 0;
}

section p {
    padding: 0 0 2.0em 0;
    font-size: 1.6em;
}

img {
    width: 100%;
    margin: 0 0 3em 0;
}

.image {
    position: relative;
    display: block;
}

.image img {
    width: 100%;
}

.reveal {
    position: absolute;
    width: 90%; height:90%;
    top:5%; left:5%;
    background: white;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.reveal h2 {
    padding: 0 0 1em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    font-size: 1.8em;
}

.reveal p {
    padding: 1.8em 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    font-size: 1.4em;
}

.image:hover .reveal {
    opacity: 0.95;
}

footer {
    padding: 2.0em;
    font-size: 1.4em;
}

.half {
    width:50%;
}

/*break points for different screen sizes. Min width of 640px for iphone 5*/
@media screen and (min-width: 640px) {
    li {
        display: inline;
    }
}
