/*******************
start of custom css
********************/

/*start with smallest sized window*/

body {
    background-color: white;
    /* Makes body 10px by default, therefore 1em is 10px */
    font-size: 62.5%;
    text-align: center;
}

header {
    border-bottom: 1px solid #D3D3D3;
}

header img {
    width: 90px;
}

header li img {
    width: 1.2em;
}

h2 {
    padding: 1.3em 0 0 0;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: 2.5em;
	padding: 0;
}

/*block main navigation and changing nav fonts*/
li {
    display: block;
    padding: .25em 1em;
    font-size: 1.4em;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}

/* inline block social nav*/
.social li {
    display: inline;
    padding: .25em .5em;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:pink;
}

.logo {
    margin-top: 3em;
}

.body-wrapper {
    margin: 3em 5em 5em 5em;
}

.intro {
    font-size: 1.8em;
    font-family: 'Gilda Display', sans-serif;
}

    /* after is like adding a fake html element */
    .intro:after {
        content:". . .";
        display: block;
        margin: 1.4em 0 2em 0;
    }


/*absolute div will follow relative */
.image {
    position: relative;
    display: block;
    margin: 2em 0 2em 0;
}

    .image img {
        width: 100%;
    }

.reveal {
    position: absolute;
    width: 90%; height:90%;
    top:5%; left:5%;
    background: white;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

    .reveal h2 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
        font-size: 1.6em;
    }

    .reveal p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
        font-size: 1.4em;
        margin: 1.5em 0 0 0;
        width: 100%;
    }

.image:hover .reveal {
    opacity: 0.95;
}

footer {
    padding: 2.0em;
    font-size: 1.4em;
    clear: both;
    border-top: 1px solid #D3D3D3;
    font-family: 'Catamaran', sans-serif;
}

/*breakpoint to inline both main and social navigation*/
@media screen and (min-width: 475px) {
    li {
        display: inline;
    }
/*breakpoint 640px for iphone 5*/
@media screen and (min-width: 640px) {
    .intro {
        font-size: 2.0em;
    }

        .intro:after {
            margin: 1.4em 0 1em 0;
        }

    .body-wrapper {
        max-width: 1150px;
    }


/*****************************************
change top nav so logo, full nav, and social nav are all inline
changed image grid to inline block
****************************************/
@media screen and (min-width: 770px) {
    nav .logo, .navigation, .social {
        display: inline-block;
        position: relative;
        margin: 2em;
    }

    .logo {
        position: absolute;
        transform: translateY(50%);
        float: left;
        padding: 0 3em;
    }

    .social {
        float: right;
    }

    .navigation {
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        padding: 1em 5em;
        font-size: 2.4em;
    }

    .image {
        display: inline-block;
        margin: 1em 0;
    }

    .body-wrapper a:nth-last-child(4) {
        width: 48%;
        float: left;
    }

    .body-wrapper a:nth-last-child(3) {
        width: 48%;
        float: right;
    }

    .body-wrapper a:nth-last-child(2) {
        width: 65%;
        float: left;
        margin-bottom: 5em;
    }

    .body-wrapper a:nth-last-child(1) {
        width: 31.5%;
        float: right;
        margin-bottom: 5em;
    }

    .reveal {
        display: block;
    }

        .reveal h2 {
            font-size: 1.8em;
        }

    .image .small-width {
         width: 100%;
         margin: 2em 0 0 0;
    }

}

/*To retain div layout and keep image layout centered on the page*/
@media screen and (min-width: 1250px) {
    .body-wrapper {
        margin: 1.4em auto;
    }
}
