html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LEAVE EVERYTHING ABOVE THIS LINE ALONE, this resets browser defaults */

body {
    background-color: white;
    /* Makes body 10px by default, therefore 1em is 10px */
    font-size: 62.5%;
    text-align: center;
}

header {
    border-bottom: 1px solid #D3D3D3;
}

header img {
    width: 90px;
}

header li img {
    width: 1.2em;
}

h2 {
    padding: 1.3em 0 0 0;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: 3.0em;
}

li {
    display: block;
    padding: 0.5em;
    font-size: 1.4em;
}

.social li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:pink;
}

.social {
    padding: 0 0 1.3em 0;
}

.logo {
    margin-top: 3em;
}

/* after is like adding a fake html element */
.intro:after {
    content:". . .";
    display: block;
    margin: 1.4em 0 2em 0;
}

.body-wrapper {
    margin: 3em 5em 5em 5em;
}

.intro {
    font-size: 1.6em;
}

.image {
    position: relative;
    display: block;
    margin: 2em 0 2em 0;
}

.image img {
    width: 100%;
}

.reveal {
    position: absolute;
    width: 90%; height:90%;
    top:5%; left:5%;
    background: white;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.reveal h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    font-size: 1.6em;
}

.reveal p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    font-size: 1.4em;
    margin: 1.5em 0 0 0;
    width: 100%;
}

.image:hover .reveal {
    opacity: 0.95;
}

footer {
    padding: 2.0em;
    font-size: 1.4em;
    clear: both;
    border-top: 1px solid #D3D3D3;
}
@media screen and (min-width: 475px) {
    li {
        display: inline;
    }
/*break points for different screen sizes. Min width of 640px for iphone 5*/
@media screen and (min-width: 640px) {
    .intro {
        padding: 1.5em 0 1em 0;
        font-size: 2.0em;
    }

    .intro:after {
        margin: 1.4em 0 1em 0;
    }

    .body-wrapper {
        max-width: 1150px;
    }

    .body-wrapper > p {
        margin: 0 5em 0 5em;
    }


/*change top nav so logo, full nav, and social nav is all inline*/
@media screen and (min-width: 770px) {
    nav .logo, .navigation, .social {
        display: inline-block;
        position: relative;
        margin: 2em;
    }

    .logo {
        position: absolute;
        /*top: 50%;*/
        transform: translateY(50%);
        float: left;
        padding: 0 3em 0 3em;
    }

    .navigation {
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        float: right;
    }

    .intro {
        font-size: 2.4em;
    }

    .image {
        display: inline-block;
        margin: 1em 0 1em 0;
    }

    .body-wrapper a:nth-last-child(4) {
        width: 48%;
        float: left;
    }

    .body-wrapper a:nth-last-child(3) {
        width: 48%;
        float: right;
    }

    .body-wrapper a:nth-last-child(2) {
        width: 65%;
        float: left;
        margin-bottom: 5em;
    }

    .body-wrapper a:nth-last-child(1) {
        width: 31.5%;
        float: right;
        margin-bottom: 5em;
    }

    .reveal {
        display: block;
    }

    .reveal h2 {
        font-size: 1.8em;
    }

    .image .small-width {
         width: 100%;
         margin: 2em 0 0 0;
    }

}

@media screen and (min-width: 1270px) {
    .body-wrapper {
        margin: auto;
    }
}
